<div style="width:100%" layout="row">
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Triage</h1>
        </md-toolbar>
        <md-input-container style="margin-bottom:0">
            <label>Activity</label>
            <input required name="activityName" ng-model="filterText" ng-change="filter()">
        </md-input-container>
        <md-list>
            <md-list-item ng-repeat="it in activities">
                <md-button ng-click="selectActivity(it, $index)" ng-class="{'selected' : it === selected }">
                    {{it.name}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>{{ selected.name }}</h1>
        </md-toolbar>

        <md-content flex id="content">
            <div layout="column" style="width:50%">
                <br />
                <md-content layout-padding class="autoScroll">
                    <md-input-container>
                        <label>Activity</label>
                        <input ng-model="selected.name" type="text" ng-required="true">
                    </md-input-container>
                    <md-input-container>
                        <label>Deadline</label>
                        <md-datepicker ng-model="selected.deadline" md-placeholder="Enter date" md-max-date="maxDate" ng-required='true'></md-datepicker>
                    </md-input-container>
                    <div>{{selected.deadline}}</div>
                    <md-input-container md-no-float>
                        <label>Description</label>
                        <input ng-model="selected.description" type="text">
                    </md-input-container>
                </md-content>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button class="md-raised md-info" ng-click="createActivity()">New</md-button>
                    <md-button class="md-raised md-primary" ng-click="saveActivity()">Save</md-button>
                    <md-button class="md-raised md-danger" ng-click="cancelEdit()">Cancel</md-button>
                    <md-button class="md-raised md-warn" ng-click="deleteActivity()">Delete</md-button>
                </section>
            </div>
        </md-content>
    </div>
</div>